<md-toolbar>
  <span flex></span>
  <div flex="50" layout="row" layout-align="end center">
    <md-icon>search</md-icon>
    &nbsp;
    <md-input placeholder="Search" #cataloguesearch flex="75" [(ngModel)]="filter.search" (ngModelChange)="filterList()"></md-input>
  </div>
  <button md-button class="md-icon-button" aria-label="Favorite">
    <md-icon md-icon>favorite</md-icon>
  </button>
  <button md-button class="md-icon-button" aria-label="More">
    <md-icon md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
<div class="toolbar-placeholder"></div>
<md-content *ngIf="books">
  <app-book-card *ngFor="let book of books" [book]="book">
  </app-book-card>
  <div class="max-reached" *ngIf="books.length == MAX_BOOK">
    <span>Limited to {{MAX_BOOK}}/{{totalBooksCount}}.
      Try to use search...</span>
  </div>
</md-content>
<md-spinner *ngIf="!books"></md-spinner>
