@use '@angular/material' as mat;
@use '../../shared/utils' as utils;

// mixin name will be used in main style.scss
@mixin not-found-component-theme($theme) {

  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $primary: mat.get-theme-color($theme, primary);
  $accent: mat.get-theme-color($theme, accent);
  $warn: mat.get-theme-color($theme, warn);
  $foreground: mat.get-theme-color($theme, foreground);
  $background: mat.get-theme-color($theme, background);

  // all of these variables contain many additional variables

  .not-found  {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='70px' height='18px'><text fill='"+utils.str-replace(""+ $primary,"#","%23")+"' x='50%' y='50%' font-size='14px' textLength='85%' text-anchor='middle'>Not found</text></svg>");
  }




}
