@import '~@angular/material/core/theming/all-theme';
//@import 'theme-functions';
//@import 'palette';

// Person creating a theme writes variables like this:
$md-is-dark-theme: false !default;

//$md-primary: md-palette($md-deep-purple, 500, 100, 700, $md-contrast-palettes) !default;
//$md-accent: md-palette($md-amber, A200, A100, A400, $md-contrast-palettes) !default;
//$md-warn: md-palette($md-red, 500, 300, 900, $md-contrast-palettes) !default;

$md-primary: md-palette($md-blue, 500, 100, 700) !default;
$md-accent: md-palette($md-amber, 500, 300,800) !default;
$md-warn: md-palette($md-red, 500, 300, 900) !default;

$md-background: md-palette($md-grey, 500, 0, 600) !default;
$md-foreground: if($md-is-dark-theme, $md-dark-theme-foreground, $md-light-theme-foreground) !default;

$theme: md-light-theme($md-primary, $md-accent, $md-warn);
@include angular-material-theme($theme);