@import "../../../shared/styles";

mat-spinner {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.cover img {
  width: 100%;
  //height:100%;
}

.book {
  //padding: 1.5em;
}

.book h3 {
  font-size: 18px;
}

.book mat-card {
  height: 100%;
  box-shadow: none;
}

.book mat-card-title {
  //font-size: 2em;
  margin-bottom: 10px;
  font-size: 2em;
}

.book .authors [mat-button].author {
  font-size: 2em;
}

.book .authors [mat-button].series {
  font-size: 1.5em;
}

.book .date {
  font-size: 1.5em;
  text-align: right;
  margin-top: -10px;
}

.book mat-card-title.series {
  padding-top: 1em;
}

.book mat-card-title.description {
  padding-top: 1em;
}

.book mat-card-title.tags {
  padding-top: 1em;
}

.book [mat-mini-fab] {
  position: absolute;
  right: 20px;
  top: 3em;
}

.title {
  display: none;
}

:host {
  mat-content[layout="row"] {
    @media screen and (max-width: $layout-breakpoint-sm) {
      flex-direction: column;
      .title {
        display: block;
      }
      .book {
        flex-direction: row;
      }
      .cover {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
      }
    }
    .cover {
      max-width: 40%;
    }

  }
}
