//@import "../../../shared/styles";
//@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';


.spinner {
  background-color: lightcyan;
  height: 100px
}
mat-spinner {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.max-reached {
  padding: 1.5em;
  //color: mat-color(map-get($theme,foreground), secondary-text);

}
