button {
  height: 1.5em;
  width: 1.0em;
  line-height: 1.5em;

  font-size: 1.0em;

  .material-icons {
    font-size: 1.0em
  }
  .mat-icon {
    height: 1.0em;
    width: 1.0em;
    line-height: 1.0em;
  }
}

.title {
  font-size: 0.5em;
  text-align: left;
  line-height: 0;
}
