button {
  background: transparent;
  height: 1.5em;
  width: 1em;
  line-height: 1.5em;

  font-size: 1em;

  .material-icons {
    font-size: 1em;
  }
  .mat-icon {
    height: 1em;
    width: 1em;
    line-height: 1em;
  }
  
}

button.mat-mdc-icon-button.mat-mdc-button-base {
  width: auto;
  padding: 0;
  
  .mat-mdc-button-touch-target {
    position: absolute;
    top: auto;
    height: auto;
    left: auto;
    width: auto;
    transform: none;
  }
}

.title {
  font-size: 0.5em;
  text-align: left;
  line-height: 0;
}
