@use '@angular/material' as mat;

// mixin name will be used in main style.scss
@mixin app-component-theme($theme) {

  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $primary: mat.get-theme-color($theme, primary);
  $accent: mat.get-theme-color($theme, accent);
  $warn: mat.get-theme-color($theme, warn);
  $foreground: mat.get-theme-color($theme, foreground);
  $background: mat.get-theme-color($theme, background);

  // all of these variables contain many additional variables

  my-calibre-server-root {
    //background-color: mat-color($primary, app-bar);
    background-color: $primary;


    .app-menu {
      border-right-color: $foreground;

      [mat-list-item] {
        &.active {
          color: $primary;
        }
      }

      mat-toolbar {
        color: $foreground;
        border-bottom-color: $foreground;

        .beta {
          background-color: $warn;
        }
      }

      .version {
        color: $foreground;
      }
    }

    mat-toolbar.hero {
      h1 {
        color: $primary;
      }
    }

    mat-content {
      >h1 {
        color: $primary;
      }

      .card-media {
        background-color: $background;
      }
    }


  }
}