@import '../../shared/styles';
@import '../../shared/layout';

:host {
  display: flex;
  flex: 100%;
  align-items: center;
  div.container {
    display: flex;
    flex: 100%;
    align-items: center;
    justify-content: end;
  }

  mat-form-field {
    flex-grow: 1;
    max-width: 75%;
    margin-top: 18px;
    font-size: 1.2em;
  }

  mat-icon {
    font-size: 2.5em;
    height: 1em;
    width: 1em;
  }

  ::ng-deep label {
    // deprecated ? moved to style
    top: 1.7em;
  }

  ::ng-deep .mat-input-element {
    // deprecated ? moved to style
    caret-color: currentColor;
  }

  @media screen and (max-width: $layout-breakpoint-md) {
    .mat-mdc-form-field {
      width: calc($layout-breakpoint-md/8);
      font-size: calc($display-2-font-size-base/4);
    }
    ::ng-deep .mdc-button {
      min-width: 0;
    }

  }

  .flags button {
    margin: 0;
  }
}
