@import "../../../shared/styles";
//@import "../../../shared/layout";

.mat-content {
}

.mat-content mat-card {
  margin-top: 2em;
}


mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

}

.fa:before  {
  font-family: FontAwesome, serif;
}

.fa-facebook {
  background-color: #3b5998;
  color: white;
}

.fa-google {
  background-color: #3079ed;
  color: white;
}

:host {
  mat-card[flex="60"] {
    @media screen and (max-width: $layout-breakpoint-sm) {
      max-width: 100%;
    }
    @media screen and (max-width: $layout-breakpoint-md) {
      max-width: 90%;
    }
  }
}
