<mat-card class="author-card" flex="100" *ngIf="author.author_name" [class.books-closed]="booksClosed" (click)="toggleBooksClosed()">
  <mat-card-title class="author-name">
    {{author.author_name}}
    <span class="date" *ngIf="author.book_date[1]">{{author.book_date[0] | date: 'yyyy'}}-</span><span class="date" *ngIf="author.book_date[author.book_date.length-1]">{{author.book_date[author.book_date.length-1] | date: 'yyyy'}}</span>
    <button mat-icon-button class="mat-icon-button">
      <mat-icon *ngIf="booksClosed">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="!booksClosed">keyboard_arrow_up</mat-icon>
    </button>
  </mat-card-title>

  <app-book-card *ngFor="let book of author.books" [book]="book">
  </app-book-card>
</mat-card>
