:host {
  mat-card {
    padding: 16px;
    mat-card-title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 0.5em;
    }
    mat-spinner {
      width: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    mat-content h3 {
      padding-left: 20px;
    }
  }
}
