@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'app/shared/theme.scss';

// import custom component themes
@import 'app/app/app.component.theme.scss';
@import 'app/components/authent/users-list/users-list.component.theme';
@import 'app/components/authent/users-list/user-list-item/user-list-item.component.theme';
@import 'app/components/author/author-list/author-list.component.theme';
@import 'app/components/book/book-list/book-list.component.theme';
@import 'app/components/book/book-page/book-page.component.theme';
@import 'app/components/not-found/not-found.component.theme';
@import 'app/components/series/series-list/series-list.component.theme';
@import 'app/components/subheader/subheader.component.theme';

@mixin custom-components-theme($theme) {
  @include app-component-theme($theme);
  @include author-list-component-theme($theme);
  @include book-list-component-theme($theme);
  @include book-page-component-theme($theme);
  @include not-found-component-theme($theme);
  @include series-list-component-theme($theme);
  @include subheader-component-theme($theme);
  @include users-list-component-theme($theme);
  @include user-list-item-component-theme($theme);
}


@include angular-material-theme($my-theme);
@include custom-components-theme($my-theme);







html, body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

body, input {
  font-family: Roboto, sans-serif, Verdana, Geneva;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select.mat-select,
  textarea.mat-input-element,
  input.mat-input-element {
    font-size: 16px;
  }
}

app-root {
    box-sizing: border-box;
    display: block;
    padding: 115px 16px 0;
    //background-color: #009688;
    //background-color: mat-color($primary);
    height: 256px;
    min-height: 256px;
    max-height: 256px;
}
app-root > h1 {
    margin: 0 auto;
    width: 80%;
    color: white;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
}
@media (min-width: 600px) {
    app-root > h1 {
        font-size: 56px;
    }
}

body mat-nav-list a[mat-list-item].active .mat-list-item, body mat-nav-list mat-list-item.active .mat-list-item {
  //color: mat-color($primary);
}
body mat-nav-list mat-list-item[mat-ink] .mat-list-item:hover {
  background: none;

}

.mat-caption {
  //font-size: $caption-font-size-base;
  letter-spacing: 0.020em;
}


.mat-sidenav-content {
    //width: 100%
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// Rules for sizing the icon.
.material-icons.mat-18 { font-size: 18px; }
.material-icons.mat-24 { font-size: 24px; }
.material-icons.mat-36 { font-size: 36px; }
.material-icons.mat-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.mat-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.mat-dark.mat-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.mat-light { color: rgba(255, 255, 255, 1); }
.material-icons.mat-light.mat-inactive { color: rgba(255, 255, 255, 0.3); }

// Menu do not have the right host...
.download-menu a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  display: flex;
}

.mat-menu-ripple {
  overflow: hidden;
}

// Snack-bar colors
snack-bar-container.message {
  //background-color: mat-color(map-get($theme, background), status-bar);
}
snack-bar-container.warn {
  //background-color: mat-color(map-get($theme, warn), 300);
}

snack-bar-container.error {
  //background-color: mat-color(map-get($theme, warn));
  //font-weight: bolder;
}

// Change of label position
.user-card {
  .admin label {
    justify-content: center;
    margin: 0;
  }
  .local, .facebook, .google {
    .mat-checkbox-inner-container {
      margin-right: auto;
    }
  }
}
