@import "../../../shared/styles";

:host {
  .md-content {

    mat-card {
      margin-top: 2em;

      mat-card-actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

      }
    }
    mat-card[flex="60"] {
      @media screen and (max-width: $layout-breakpoint-sm) {
        max-width: 100%;
      }
      @media screen and (max-width: $layout-breakpoint-md) {
        max-width: 90%;
      }
    }
  }

  //.logout {
  //  float: left;
  //}
  //.connect, .unlink {
  //  float: right;
  //}

}
