<mat-card class="series-card" *ngIf="series && series.series_name" [class.books-closed]="booksClosed" (click)="toggleBooksClosed()">
  <div class="cover">
    <!-- <img mat-card-sm-image src="{{ thumbnailUrlBase }}/{{ series.series_id }}.png" /> -->
    <my-calibre-server-image-sprites [type]="1" [id]="series.series_id"></my-calibre-server-image-sprites>
  </div>
  <div class="text">
    <mat-card-title class="series-name">
      {{ series.series_name }}
      <span class="date" *ngIf="series.book_date[1]">{{ series.book_date[0] | date : 'yyyy' }}-</span
      ><span class="date" *ngIf="series.book_date[series.book_date.length - 1]">{{ series.book_date[series.book_date.length - 1] | date : 'yyyy' }}</span>
      <button mat-icon-button>
        <mat-icon>{{ booksClosed ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>
      <span class="author" *ngFor="let name of series?.author_name">{{ name }}</span>
    </mat-card-subtitle>
    <my-calibre-server-book-card *ngFor="let book of series?.books" [book]="book"> </my-calibre-server-book-card>
  </div>
</mat-card>
