@if (series && series.series_name) {
  <mat-card class="series-card" [class.books-closed]="booksClosed" (click)="toggleBooksClosed()">
    <div class="cover">
      <!-- <img mat-card-sm-image src="{{ thumbnailUrlBase }}/{{ series.series_id }}.png" /> -->
      <my-calibre-server-image-sprites [type]="1" [id]="series.series_id"></my-calibre-server-image-sprites>
    </div>
    <div class="text">
      <mat-card-title class="series-name">
        {{ series.series_name }}
        @if (series.book_date[1]) {
          <span class="date">{{ series.book_date[0] | date : 'yyyy' }}-</span
            >
            }@if (series.book_date[series.book_date.length - 1]) {
            <span class="date">{{ series.book_date[series.book_date.length - 1] | date : 'yyyy' }}</span>
          }
          <button mat-icon-button>
            <mat-icon>{{ booksClosed ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle>
          @for (name of series?.author_name; track name) {
            <span class="author">{{ name }}</span>
          }
        </mat-card-subtitle>
        @for (book of series?.books; track book) {
          <my-calibre-server-book-card [book]="book"> </my-calibre-server-book-card>
        }
      </div>
    </mat-card>
  }
