<mat-card class="tag-card" flex="100" *ngIf="tag.tag_name" [class.books-closed]="booksClosed" (click)="toggleBooksClosed()">
  <mat-card-title class="tag-name">
    {{tag.tag_name}}
    <span class="count" >{{tag.books.length}} book<span *ngIf="tag.books.length > 1">s</span></span>
    <button mat-icon-button class="mat-icon-button">
      <mat-icon *ngIf="booksClosed">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="!booksClosed">keyboard_arrow_up</mat-icon>
    </button>
  </mat-card-title>

  <app-book-card *ngFor="let book of tag.books" [book]="book">
  </app-book-card>
</mat-card>
