<mat-card
  class="user-card"
  [class.user-closed]="userClosed && !(selectedMergeUser === user)"
  [class.user-selected]="selectedMergeUser === user"
  [class.anotheruser-selected]="selectedMergeUser && selectedMergeUser !== user"
>
  <div class="row">
    <div class="title">
      <div class="marge">
        <button mat-icon-button class="open-close" (click)="toggleUserClosed()">
          <mat-icon>{{ userClosed ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
        </button>
      </div>

      <div class="username">{{ user.local.username }}</div>
      <div class="firstname">{{ user.local.firstname }}</div>
      <div class="lastname">{{ user.local.lastname }}</div>
      <div class="email">{{ user.local.email }}</div>
      <div class="last-connection">
        <span>{{ user.history.lastConnection | localizedDate }} {{ user.history.lastConnection | localizedDate: 'shortTime' }}</span>
        <span>{{ 'label.downloaded' | translate }} : {{ user.history.downloadedBooks.length }}</span>
      </div>
      <div class="admin">
        <mat-slide-toggle [checked]="user.local.isAdmin" (change)="adminChanged($event)" color="primary"></mat-slide-toggle>
      </div>
      <div class="local">
        <mat-checkbox [checked]="user.local.username" disabled="true"></mat-checkbox>
      </div>
      <div class="facebook">
        <mat-checkbox [checked]="user.facebook.name" disabled="true"></mat-checkbox>
      </div>
      <div class="google">
        <mat-checkbox [checked]="user.google.name" disabled="true"></mat-checkbox>
      </div>
    </div>
    <div class="content">
      <my-calibre-server-user-profile [user]="user" urlToRedirect="/users"></my-calibre-server-user-profile>
      <mat-card-actions>
        <a class="delete" mat-raised-button (click)="remove()">{{ 'label.delete' | translate }}</a>
        <a class="merge-select" mat-raised-button (click)="merge()">{{ 'label.merge.select' | translate }}</a>
        <a class="merge-unselect" mat-raised-button (click)="merge()">{{ 'label.merge.unselect' | translate }}</a>
        <a class="merge-launch" mat-raised-button (click)="merge()">{{ 'label.merge.launch' | translate }}</a>
        <a class="resetPassword" mat-raised-button (click)="resetPassword()">{{ 'label.reset-password' | translate }}</a>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
