// mixin name will be used in main style.scss
@mixin user-list-item-component-theme($theme) {

  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $primary: mat.get-theme-color($theme, primary);
  $accent: mat.get-theme-color($theme, accent);
  $warn: mat.get-theme-color($theme, warn);
  $foreground: mat.get-theme-color($theme, foreground);
  $background: mat.get-theme-color($theme, background);

  // all of these variables contain many additional variables

  .user-selected, .user-selected.mat-mdc-card {
    background-color: $primary;
  }



}
