
:host {
  display: flex;
  flex-direction: column;

  a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 16px;
    width: 100%;
    text-align: left;
    .name, .unknown {
      font-size: 0.8em;
      line-height: 1em;
      font-weight: 500;
    }
    .email {
      font-size: 0.8em;
      font-weight: lighter;
      line-height: 1em;
    }
  }

}

