@if (book) {
  <mat-content>
    <div class="cover">
      <img src="{{ coverUrlBase }}/{{ book.book_id }}.jpg" />
    </div>
    <div class="book">
      <mat-card class="authors">
        <div class="top">
          <my-calibre-server-mat-rating
            [rating]="ratings.yourRating / 2"
            color="primary"
            title="{{ 'label.rating-your' | translate }}"
            (ratingUpdated)="ratingUpdated($event)"
          ></my-calibre-server-mat-rating>
          @if (ratings.rating) {
            <my-calibre-server-mat-rating
              [rating]="ratings.rating / 2"
              color="primary"
              [disabled]="true"
              title="{{ 'label.rating-reader' | translate }} ({{ ratings.count }})"
              [matTooltip]="'' + ratings.rating / 2"
              matTooltipPosition="above"
            ></my-calibre-server-mat-rating>
          }
          @if (book.rating) {
            <my-calibre-server-mat-rating
              [rating]="+book.rating / 2"
              color="primary"
              [disabled]="true"
              title="{{ 'label.rating-public' | translate }}"
              [matTooltip]="'' + +book.rating / 2"
              matTooltipPosition="above"
            ></my-calibre-server-mat-rating>
          }
          <div class="flag">
            @if (book.lang_code === 'fra') {
              <mat-icon svgIcon="flag_fr" matTooltip="{{ 'label.french' | translate }}" matTooltipPosition="before"></mat-icon>
            }
            @if (book.lang_code === 'eng') {
              <mat-icon svgIcon="flag_us" matTooltip="{{ 'label.english' | translate }}" matTooltipPosition="before"></mat-icon>
            }
          </div>
          <div class="date">{{ book.book_date | localizedDate : 'MMMM yyyy' }}</div>
        </div>
        <mat-card-title>{{ 'label.authors' | translate }}</mat-card-title>
        @for (name of book.author_name; track name; let i = $index) {
          <button mat-stroked-button class="author" (click)="openAuthor($event, book.author_id[i], name)">
            {{ name }}
          </button>
        }
        @if (book.series_id) {
          <mat-card-title class="series">{{ 'label.series' | translate }}</mat-card-title>
        }
        @if (book.series_id) {
          <button mat-stroked-button class="serie" (click)="openSeries($event, book.series_id, book.series_name)">
            {{ book.series_name }}
          </button>
        }
        <mat-card-title class="description">{{ 'label.description' | translate }}</mat-card-title>
        @if (book.comment) {
          <div class="description-content" [innerHTML]="book.comment"></div>
        }
        @if (!book.comment) {
          <div class="description-content">{{ 'label.none' | translate }}</div>
        }
        <mat-card-title class="tags">{{ 'label.tags' | translate }}</mat-card-title>
        <div class="tags-content">
          @for (name of book.tag_name; track name; let i = $index) {
            <button mat-stroked-button class="tag" (click)="openTag($event, book.tag_id[i], name)">
              {{ name }}
            </button>
          }
        </div>
        @if (bookHasMobi || bookHasEpub) {
          <button mat-mini-fab aria-label="Sort" [matMenuTriggerFor]="downloadmenu">
            <mat-icon>file_download</mat-icon>
          </button>
        }
        <mat-menu xPosition="before" yPosition="below" #downloadmenu="matMenu" class="download-menu">
          @if (bookHasEpub) {
            <button mat-menu-item (click)="downloadEpub()">
              <mat-icon>file_download</mat-icon>
              <span>{{ 'label.epub-format' | translate }}</span>
            </button>
          }
          @if (bookHasMobi) {
            <button mat-menu-item (click)="downloadMobi()">
              <mat-icon>file_download</mat-icon>
              <span>{{ 'label.mobi-format' | translate }}</span>
            </button>
          }
          @if (bookHasMobi) {
            <button mat-menu-item (click)="openDialog()">
              <mat-icon>send</mat-icon>
              <span>{{ 'label.kindle.send-to' | translate }}</span>
            </button>
          }
        </mat-menu>
        <!--<mat-menu x-position="before" y-position="below" #kindledmenu="matMenu" class="download-menu">-->
        <!--<mat-form-field>-->
        <!--<input matInput placeholder="Search" >-->
      <!--</mat-form-field>-->
    <!--</mat-menu>-->
  </mat-card>
</div>
</mat-content>
}
@if (!book) {
  <mat-spinner></mat-spinner>
}
