@import '../../../shared/styles';
//@import "../../../shared/layout";

mat-spinner {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.cover {
  flex: 1 1 0%;

  img {
    width: 100%;
  }
}

.book {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  mat-card {
    height: 100%;
    box-shadow: none;
  }
  mat-card-title {
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 500;
  }
  h3 {
    font-size: 18px;
  }
  .authors {
    display: flex;
    flex-direction: column;
    padding: 16px;
    .top {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
    }
    .author, .serie, .tag {
      font-size: 1.8em;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}



.book .authors [mat-button].author {
  font-size: 2em;
}

.book .authors [mat-button].series {
  font-size: 1.5em;
}

.book .top {
  font-size: 1.5em;
  text-align: right;
  // margin-top: -10px;
  my-calibre-server-mat-rating {
    margin-top: -3px;
    padding-right: 2em;
  }
}

.book mat-card-title.series {
  padding-top: 1em;
}

.book mat-card-title.description {
  padding-top: 1em;
}

.book mat-card-title.tags {
  padding-top: 1em;
}

.book button[mat-mini-fab] {
  position: absolute;
  right: 20px;
  top: 3em;
  color: white;
}

.title {
  display: none;
}

:host {
  > mat-content {
    flex-direction: row;
    display: flex;
    @media screen and (max-width: $layout-breakpoint-sm) {
      flex-direction: column;
      .title {
        display: block;
      }
      .book {
        flex-direction: row;
      }
      .cover {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
      }
    }
    .cover {
      max-width: 40%;
    }
  }
}

.flag {
  margin-right: 1.5em;
}
