<div class="md-content" flex="100" layout-align="center center" layout="row">
  <md-card flex="30">
    <form role="form" (submit)="signup($event, username.value, password.value, firstname.value, lastname.value, email.value)">
      <md-card-content>
        <md-input-container>
          <input mdInput placeholder="Username"  required                 #username>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Password"  required type="password" #password>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Firstname" #firstname>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Lastname"  #lastname>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="email"     type="email" #email>
        </md-input-container>
      </md-card-content>
      <md-card-actions align="end">
        <a md-raised-button (click)="login()">Login</a>
        <button md-raised-button color="primary" type="submit">SIGNUP</button>
      </md-card-actions>
    </form>
  </md-card>
</div>
