<div class="md-content" flex="100" layout-align="center center" layout="row">
  <mat-card flex="60">
    <form role="form" (submit)="signup($event, username.value, password.value, firstname.value, lastname.value, email.value)">
      <mat-card-content>
        <mat-input-container>
          <input MatInput placeholder="Username"  required                 #username>
        </mat-input-container>
        <mat-input-container>
          <input MatInput placeholder="Password"  required type="password" #password>
        </mat-input-container>
        <mat-input-container>
          <input MatInput placeholder="Firstname" #firstname>
        </mat-input-container>
        <mat-input-container>
          <input MatInput placeholder="Lastname"  #lastname>
        </mat-input-container>
        <mat-input-container>
          <input MatInput placeholder="email"     type="email" #email>
        </mat-input-container>
      </mat-card-content>
      <mat-card-actions align="end">
        <a mat-raised-button (click)="login()">Login</a>
        <button mat-raised-button color="primary" type="submit">SIGNUP</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
