<div class="mat-content" fxFlex="100" fxLayoutAlign="center center" fxLayout="row">
  <mat-card fxFlex="60">
    <form role="form" (submit)="signup($event, username.value, password.value, firstname.value, lastname.value, email.value)">
      <mat-card-content>
        <mat-input-container>
          <input matInput placeholder="Username"  required                 #username>
        </mat-input-container>
        <mat-input-container>
          <input matInput placeholder="Password"  required type="password" #password>
        </mat-input-container>
        <mat-input-container>
          <input matInput placeholder="Firstname" #firstname>
        </mat-input-container>
        <mat-input-container>
          <input matInput placeholder="Lastname"  #lastname>
        </mat-input-container>
        <mat-input-container>
          <input matInput placeholder="email"     type="email" #email>
        </mat-input-container>
      </mat-card-content>
      <mat-card-actions align="end">
        <a mat-raised-button (click)="login()">Login</a>
        <button mat-raised-button color="primary" type="submit">SIGNUP</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
