@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin users-list-component-theme($theme) {

  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  // all of these variables contain many additional variables

  .user-list-header {

    .fa-home[disabled] {
      background-color: mat-color($primary, 500);
      color: mat-color($primary, default-contrast);
    }

    .fa-facebook[disabled] {
      background-color: #3b5998;
      color: white;
    }

    .fa-google[disabled] {
      background-color: #3079ed;
      color: white;
    }
  }


}
