@import "../../../shared/styles";
//@import "../../../shared/layout";

.user-list-header {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  line-height: 40px;

  .admin, .facebook, .google, .local {
    text-align: center;
  }

  .fa:before {
    font-family: FontAwesome, serif;
  }

  .fa.mat-mini-fab {
    font-size: 18px;
  }

}

