<md-content *ngIf="users">
  <div layout="row" class="user-list-header">
    <div                   flex="5"></div>
    <div class="username"  flex="15">Username</div>
    <div class="firstname" flex="20">Firstname</div>
    <div class="lastname"  flex="20">Lastname</div>
    <div class="email"     flex="20">Email</div>
    <div class="admin"     flex="10">Admin ?</div>
    <div class="local"     flex="5"><button class="fa fa-home" md-mini-fab disabled></button></div>
    <div class="facebook"  flex="5"><button class="fa fa-facebook" md-mini-fab disabled></button></div>
    <div class="google"    flex="5"><button class="fa fa-google" md-mini-fab disabled></button></div>
  </div>
  <app-user-list-item *ngFor="let user of users" [user]="user" (listChanged)="loadUsers()" (mergeUser)="mergeUsers(user)" [selectedMergeUser]="selectedMergeUser"></app-user-list-item>
</md-content>
