<div class="mat-content">
  <mat-card>
    <div class="account-title">{{ 'label.account' | translate }} :</div>
    <div class="account">@if (!user.local.firstname) {
      <span>{{ user.local.username }} </span>
      }@if (user.local.firstname) {
      <span>{{ user.local.firstname }} </span>
      }@if (user.local.lastname) {
      <span>{{ user.local.lastname }}</span>
      }@if (user.local.email) {
      <span> ({{ user.local.email }})</span>
    }</div>
    <div class="password-title">{{ 'label.password' | translate }} :
      @if (passwordsState === passwordsStateEnum.OK) {
        <span class="ok">{{'label.password.ok' | translate}}</span>
      }
      @if (passwordsState === passwordsStateEnum.DIFFERENTS) {
        <span class="error">{{'label.password.different' | translate}}</span>
      }
      @if (passwordsState === passwordsStateEnum.EMPTY) {
        <span class="error">{{'label.password.empty' | translate}}</span>
      }
    </div>
    <form role="form" (submit)="save($event)">
      <mat-card-content>
        <mat-form-field>
          <mat-label>{{ 'label.password' | translate }}</mat-label>
          <input matInput required type="password" name="password1" [(ngModel)]="password1" (change)="change()" (keyup)="change()"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'label.password' | translate }}</mat-label>
          <input matInput required type="password" name="password2" [(ngModel)]="password2" (change)="change()" (keyup)="change()" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="passwordsState !== passwordsStateEnum.OK">{{ 'label.changepw' | translate | uppercase }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
