<div class="mat-content" fxFlex="100" fxLayoutAlign="center center" fxLayout="row">
  <mat-card fxFlex="60">
    <div class="account-title">{{ 'label.account' | translate }} :</div>
    <div class="account">{{ user.local.firstname }} {{ user.local.lastname }} ({{ user.local.email }})</div>
    <div class="password-title">{{ 'label.password' | translate }} :
      <span class="ok" *ngIf="passwordsState === passwordsStateEnum.OK">{{'label.password.ok' | translate}}</span>
      <span class="error" *ngIf="passwordsState === passwordsStateEnum.DIFFERENTS">{{'label.password.different' | translate}}</span>
      <span class="error" *ngIf="passwordsState === passwordsStateEnum.EMPTY">{{'label.password.empty' | translate}}</span>
    </div>
    <form role="form" (submit)="save($event)">
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="{{ 'label.password' | translate }}" required type="password" name="password1" [(ngModel)]="password1" (change)="change()" (keyup)="change()"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{ 'label.password' | translate }}" required type="password" name="password2" [(ngModel)]="password2" (change)="change()" (keyup)="change()" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="passwordsState !== passwordsStateEnum.OK">{{ 'label.changepw' | translate | uppercase }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
