.mat-content md-card {
  margin-top: 2em;
}

.account-title {
  font-size: 1.5em;
  padding-bottom: 0.2em;
}
.account {
  margin-left: 4%;
  margin-right: 2%;
}
.password-title {
  font-size: 1.5em;
  padding-top: 1em;
}
mat-form-field {
  width: 90%;
  margin-left: 4%;
  margin-right: 2%;
}

.ok,
.error {
  font-size: 0.6em;
  vertical-align: middle;
}
.ok {
  color: green;
}
.error {
  color: red;
}
