[mat-peekaboo] {
  &[breakAction=show] {
    display: none;
    &.mat-peekaboo-active {
      display: inherit;
    }
  }
  &[breakAction=hide] {
    display: inherit;
    &.mat-peekaboo-active {
      display: none;
    }
  }
}
