<mat-toolbar color="primary" class="fixed-toolbar"
            mat-peekaboo [scroller]="content.parentElement"
            [break]="190"
            breakAction="show"
            [ngClass]="{hide:over}"
            [style.left]="(sidenavWidth-1) + 'px'"
            [style.right]="scrollWidth + 'px'">
</mat-toolbar>
<mat-toolbar color="primary" class="fixed-toolbar"
            [ngClass]="{hide:over}"
            [style.left]="(sidenavWidth-1) + 'px'"
            [style.right]="scrollWidth + 'px'">
  <button mat-button
          class="mat-hamburger mat-icon-button"
          hide-gt-lg
          (click)="menu.open($event)"
          aria-label="Home">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button *ngIf="title.backUrl"
          class="mat-icon-button"
          (click)="goBack()"
          aria-label="Back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span mat-peekaboo [scroller]="content.parentElement"
        [breakMd]="72"
        [breakXs]="20"
        breakAction="show">
    <span class="verbose-title">{{getPrimaryLabel()}}</span>
  </span>
  <span flex></span>
  <div flex="50" class="filter" mat-peekaboo [scroller]="content.parentElement"
       [breakMd]="202"
       [breakXs]="100"
       breakAction="show">
    <filter-bar></filter-bar>
  </div>
</mat-toolbar>

<mat-sidenav-container fullscreen>
  <mat-sidenav #menu class="app-menu" mode="side" >
    <mat-toolbar routerLink="/" [class.beta]="version.isBeta()">
      <div class="beta"      *ngIf="version.isBeta()">beta</div>
      <h3>{{getSecondaryLabel()}}</h3>
      <a href="{{version.github_url}}"
         target="_blank"
         *ngIf="version.version" class="mat-caption version">v{{version.version}}</a>
    </mat-toolbar>
    <app-profile-button (click)="itemClicked()"></app-profile-button>
    <mat-nav-list *ngIf="user?.id">
      <a mat-list-item *ngFor="let l of links" routerLinkActive="active" routerLink="{{l.path}}" (click)="itemClicked()"> {{ l.label }} </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-content #content id="scrollView">
    <mat-toolbar color="primary" class="hero">
      <h1 mat-peekaboo [scroller]="content.parentElement"
          [breakMd]="72"
          [breakXs]="20"
          breakAction="hide">{{getPrimaryLabel()}}</h1>
    </mat-toolbar>
    <mat-toolbar class="filter" mat-peekaboo [scroller]="content.parentElement"
                [breakMd]="202"
                [breakXs]="100"
                breakAction="hide" *ngIf="!filter.not_displayed">
      <span flex></span>
      <div flex="50">
        <filter-bar></filter-bar>
      </div>
    </mat-toolbar>
    <main layout="row" layout-align="center center">
      <mat-content class="contents" mat-scroll-y layout-padding>
        <router-outlet></router-outlet>
      </mat-content>
    </main>

    <docs-footer></docs-footer>

  </mat-content>
</mat-sidenav-container>
