@import "../../../shared/styles";

:host {
  mat-card {
    padding: 0;
  }

  mat-card-title {
    font-size: 1.5em;
    .date {
      font-size: 0.6em;
    }
    @media screen and (max-width: $layout-breakpoint-sm) {
      padding-right: 2.8em;
    }
  }

  mat-card-subtitle {
    margin-bottom: 0;
    .other {
      font-size: 0.6em;
    }
  }

  mat-card.book-card {
    display: flex;
    //align-items: center;
    justify-content: flex-start;
    align-items: stretch;
    //box-shadow: none;
    //margin: 0 -8px;
    .cover {
      width: 80px;
      height: 80px;
      flex-shrink: 0;
      flex-grow: 0;
      padding: 3px;
      position: relative;
      [mat-card-sm-image] {
        display: block;
        height: auto;
        width: auto;
        max-width: 80px;
        max-height: 80px;
        border-radius: inherit;
        margin: 0 auto;
      }
      .flag {
        position: absolute;
        right: 15px;
        bottom: 1px;
        width: 18px;
        height: auto;
      }
    }
    .text {
      margin-left: 1em;
      flex: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      border-bottom-width: 0;

    }
  }
}

:host:not([class*=has-shadow]) mat-card.book-card {
  box-shadow: none;
  .text {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

.top-right {
  position: absolute;
  top: 1em;
  right: 2em;
  display: flex;
  my-calibre-server-mat-rating, .empty-rating {
    margin-left: 1em;
    width: 5em;
  }

  @media screen and (max-width: $layout-breakpoint-sm) {
    top: 1.5em;
    right: 1em;
    display: block;
    transform: rotate(90deg);
    width: 6em;
    height: 6em;
    my-calibre-server-mat-rating, .empty-rating {
      display: block;
      margin-left: 0;
      margin-bottom: 3px;
      height: 1.5em;
    }
  }

}



