<a *ngIf="user?.id" (click)="openProfile($event, user)" mat-button>
  <div class="name" *ngIf="user?.local?.lastname || user?.local?.firstname">{{user?.local?.firstname}} {{user?.local?.lastname}}</div>
  <div class="name" *ngIf="!user?.local?.lastname && !user?.local?.firstname">{{user?.local?.username}}</div>
  <div class="email">{{user?.local?.email}}</div>
</a>
<!--<a *ngIf="!user?.local?.username" (click)="login()" mat-button>-->
  <!--<div class="unknown">Unknown user</div>-->
<!--</a>-->
