@import '~@angular/material/core/theming/all-theme';

@include mat-core();

// Person creating a theme writes variables like this:
$mat-is-dark-theme: false !default;

$mat-primary: mat-palette($mat-indigo);
$mat-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mat-warn:    mat-palette($mat-red);

$mat-background: mat-palette($mat-grey, 500, 0, 600) !default;
$mat-foreground: if($mat-is-dark-theme, $mat-dark-theme-foreground, $mat-light-theme-foreground) !default;

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($mat-primary, $mat-accent, $mat-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);


//$mat-primary: mat-palette($mat-deep-purple, 500, 100, 700, $mat-contrast-palettes) !default;
//$mat-accent: mat-palette($mat-amber, A200, A100, A400, $mat-contrast-palettes) !default;
//$mat-warn: mat-palette($mat-red, 500, 300, 900, $mat-contrast-palettes) !default;

//$mat-primary: mat-palette($mat-blue, 500, 100, 700) !default;
//$mat-accent: mat-palette($mat-amber, 500, 300,800) !default;
//$mat-warn: mat-palette($mat-red, 500, 300, 900) !default;

//$mat-background: mat-palette($mat-grey, 500, 0, 600) !default;
//$mat-foreground: if($mat-is-dark-theme, $mat-dark-theme-foreground, $mat-light-theme-foreground) !default;

//$theme: mat-light-theme($mat-primary, $mat-accent, $mat-warn);
//@include angular-material-theme($theme);
