@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin subheader-component-theme($theme) {

  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  // all of these variables contain many additional variables

  .mat-subheader {
    color: mat-color($foreground, secondary-text, 0.23); //'{{ foreground-2-0.23 }}';
    background-color: mat-color($background, app-bar); //'{{background-color}}';

    &.mat-primary {
      color: mat-color($primary); //'{{primary-color}}'
    }
    &.mat-accent {
      color: mat-color($accent); //'{{accent-color}}'
    }
    &.mat-warn {
      color: mat-color($warn); //'{{warn-color}}'
    }
  }



}
