@import "../../shared/styles";

.mat-subheader {
  display: block;
  font-size: $subheader-font-size;
  font-weight: $subheader-font-weight;
  line-height: $subheader-line-height;
  margin: $subheader-margin;
  position: relative;

  .mat-subheader-inner {
    display: block;
    padding: $subheader-padding;
  }

  .mat-subheader-content {
    display: block;
    z-index: 1;
    position: relative;
  }
}

