@import "../../shared/styles";

.md-subheader {
  display: block;
  font-size: $subheader-font-size;
  font-weight: $subheader-font-weight;
  line-height: $subheader-line-height;
  margin: $subheader-margin;
  position: relative;

  .md-subheader-inner {
    display: block;
    padding: $subheader-padding;
  }

  .md-subheader-content {
    display: block;
    z-index: 1;
    position: relative;
  }
}

// Theme

.md-subheader {
  color: mat-color(map-get($theme,foreground), secondary-text, 0.23); //'{{ foreground-2-0.23 }}';
  background-color: mat-color(map-get($theme,background), app-bar); //'{{background-color}}';

  &.md-primary {
    color: mat-color($primary); //'{{primary-color}}'
  }
  &.md-accent {
    color: mat-color($accent); //'{{accent-color}}'
  }
  &.md-warn {
    color: mat-color(map-get($theme, warn)); //'{{warn-color}}'
  }
}