<div class="md-content" flex="100" layout-align="center center" layout="row">
  <md-card flex="30">
    <md-card-title>
      Login
    </md-card-title>
    <form role="form" (submit)="login($event, email.value, password.value)">
      <md-card-content>
        <md-input-container>
          <input mdInput placeholder="Username" required                 #email>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Password" required type="password" #password>
        </md-input-container>
      </md-card-content>
      <md-card-actions align="end">
        <a md-raised-button (click)="signup()">Signup</a>
        <button md-raised-button color="primary" type="submit">LOGIN</button>
      </md-card-actions>
    </form>
  </md-card>
</div>