.md-content {
}

.md-content md-card {
  margin-top: 2em;
}


md-input-container {
  width: 100%;
}

.fa:before  {
  font-family: FontAwesome;
}

.fa-facebook {
  background-color: #3b5998;
  color: white;
}

.fa-google {
  background-color: #3079ed;
  color: white;
}
