<mat-card class="kindle-card">
  <mat-card-title>Send to Kindle</mat-card-title>
  <form (ngSubmit)="send()">
    <mat-card-content>
      <h4>Enter your Kindle e-mail address to sync this book to your device.</h4>
      <mat-input-container>
        <input matInput placeholder="Mail" type="email" required [matAutocomplete]="auto" [(ngModel)]="mail" name="mail" (change)="mailFilter()" (keyup)="mailFilter()">
      </mat-input-container>

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let mail of filteredMails" [value]="mail">
          {{ mail }}
        </mat-option>
      </mat-autocomplete>
      <div class="message"><em>famille.martin@gmail.com</em> needs to be added as an approved sender to your Amazon account.</div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button type="submit">
        Send now
      </button>
      <button mat-button type="button" (click)="cancel()">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
