:host {
  mat-card-content {
    position: relative;
    mat-input-container {
      width: 95%;
    }
    .provider {
      font-size: 1.5em;
      padding-bottom: 0.2em;
    }
    .info {
      margin-left: 4%;
      margin-right: 2%;
    }
    a.add_email {
      position: absolute;
      right: 0;
      margin-top: -3.5em;
      z-index: 10;
    }
    a.del_email {
      position: absolute;
      right: 0;
      z-index: 10;
      line-height: 30px;
      &.mat-mini-fab {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        margin-top: 4px;
        mat-icon {
          padding-top: 1px;
          font-size: 20px;
          margin-top: -13px;
        }
      }
    }
    .emails {
      margin-left: 4em;
      margin-top: -1em;
      font-size: 0.8em;
      line-height: 26px;

    }
    .fa.mat-mini-fab {
      position: absolute;
      top: 3px;
      right: 0;
      font-size: 18px;
      line-height: 40px;
      mat-icon {
        position: absolute;
        left: 2px;
        top: 2px;
        font-size: 37px;
        color: rgba(20, 20, 20, 0.5);
      }
    }
    .fa:before {
      font-family: FontAwesome, serif;
    }

    .fa-facebook {
      background-color: #3b5998;
      color: white;
    }

    .fa-google {
      background-color: #3079ed;
      color: white;
    }
    .dates {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      font-size: 0.8em;
      text-align: right;
      line-height: 1em;
      margin-top: 10px;
      padding-left: 10em;
    }
    .dates .date {
      width: 11em;
    }

    .book {
      font-size: 0.9em;
    }
    .book div {
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
  }
}
