@import '../../../shared/styles';
//@import "../../../shared/layout";

.user-list-header {
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  line-height: 40px;

  div {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    position: relative;

    mat-icon {
      // position: absolute;
      // right: -3px;
      height: 18px;
      width: 18px;
      font-size: 18px;
    }
  }

  .marge,
  .local,
  .facebook,
  .google {
    max-width: 5%;
  }
  .admin {
    max-width: 10%;
  }
  .username,
  .firstname,
  .lastname {
    max-width: 15%;
  }
  .email,
  .last-connection {
    max-width: 20%;
  }

  .admin,
  .facebook,
  .google,
  .local {
    text-align: center;
    justify-content: center;
    position: relative;
  }
  .last-connection {
    flex-direction: column;
    font-size: 0.8em;
    justify-content: center;
    span {
      line-height: 20px;
      mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
      }
    }
  }
  button {
    font-size: 18px;
    line-height: 40px;
  }

  .fa:before {
    font-family: FontAwesome, serif;
  }
  .fa-facebook:before {
    // font-family: FontAwesome, serif;
    content: '\f09a';
  }
  .fa-google:before {
    // font-family: FontAwesome, serif;
    content: '\f1a0';
  }
  .fa-home:before {
    // font-family: FontAwesome, serif;
    content: '\f015';
  } 

}
