@import "../../../shared/styles";
//@import "../../../shared/layout";

.user-list-header {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  line-height: 40px;

  div {
    display: flex;
    align-items: center;
  }

  .admin, .facebook, .google, .local {
    text-align: center;
    justify-content: center;
    position: relative;
  }
  .admin {
    padding-left: 24px;
  }

  .facebook mat-icon, .google mat-icon, .local mat-icon {
    position: absolute;
    bottom: -5px;
  }
  .last-connection {
    font-size: 0.8em;
    justify-content: center;
    span {
      line-height: 20px;
      display: flex;
      align-items: center;
      padding-left: 18px;
      mat-icon {
        height: 18px;
        width: 18px;
        font-size: 18px;
      }
    }
  }

  .fa:before {
    font-family: FontAwesome, serif;
  }

  .fa.mat-mini-fab {
    font-size: 18px;
  }

}

