//@import "../../../shared/styles";
//@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';

mat-card-title .date {
  font-size: 0.6em;
}

mat-card-title button {
  float: right;
}

mat-card-title mat-icon {
  margin-top: 10px;
}

mat-card-subtitle .author:not(:last-child):after {
  content: ", ";
}

.series-card {
  margin: 6px 0;
  padding-bottom: 12px;
}

.series-card mat-card-subtitle, .series-card .date {
  display: none;
}

.series-card.books-closed {
  margin: 0;
}

.series-card.books-closed mat-card-subtitle {
  display: block;
}

.series-card.books-closed .date {
  display: inline;
}

.series-card.books-closed app-book-card {
  display: none;
}

.series-card {
  display: flex;
  //align-items: center;
  justify-content: flex-start;
  align-items: stretch;
  //box-shadow: none;
  //margin: 0 -8px;
  .cover {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 3px;
    [mat-card-sm-image] {
      display: block;
      height: auto;
      width: auto;
      max-width: 80px;
      max-height: 80px;
      border-radius: inherit;
      margin: 0 auto;
    }
  }
  .text {
    margin-left: 1em;
    flex: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
