mat-card-title .count {
  font-size: 0.6em;
}

mat-card-title button {
  float: right;
}

mat-card-title mat-icon {
  margin-top: 10px;
}

.tag-card {
  margin: 6px 0;
  padding-bottom: 12px;
}

.tag-card mat-card-subtitle, .tag-card .count {
  display: none;
}

.tag-card.books-closed {
  margin: 0;
}

.tag-card.books-closed mat-card-subtitle {
  display: block;
}

.tag-card.books-closed .count {
  display: inline;
}

.tag-card.books-closed my-calibre-server-book-card {
  display: none !important;
}
