@if (tag?.tag_name) {
  <mat-card class="tag-card" [class.books-closed]="booksClosed" (click)="toggleBooksClosed()">
    <mat-card-title class="tag-name">
      {{ tag?.tag_name }}
      <span class="count">{{ tag?.books?.length }} book@if ((tag && tag.books && tag.books.length ? tag.books.length : 0) > 1) {
        <span>s</span>
      }</span>
      <button mat-icon-button class="mat-icon-button">
        @if (booksClosed) {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
        @if (!booksClosed) {
          <mat-icon>keyboard_arrow_up</mat-icon>
        }
      </button>
    </mat-card-title>
    @for (book of tag?.books; track book) {
      <my-calibre-server-book-card [book]="book"> </my-calibre-server-book-card>
    }
  </mat-card>
}
