<div  *ngIf="!filter.not_displayed">
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center">
    <mat-icon>search</mat-icon>
    &nbsp;
    <mat-form-field fxFlex="75">
      <input matInput placeholder="Search" #cataloguesearch [(ngModel)]="filter.search"
                (ngModelChange)="filterList()">
    </mat-form-field>
  </div>
  <!--<button mat-button class="mat-icon-button" aria-label="Favorite">-->
  <!--<mat-icon mat-icon>favorite</mat-icon>-->
  <!--</button>-->
  <button mat-button class="mat-icon-button" aria-label="Sort" [matMenuTriggerFor]="sortmenu">
    <mat-icon mat-icon>sort</mat-icon>
  </button>

  <mat-menu x-position="before" y-position="below" #sortmenu="matMenu" class="sort-menu">
    <button mat-menu-item (click)="toggleSort(0)" *ngIf="filter.isAvailable(0)">
      <mat-icon *ngIf="(filter.sort == 0) && (filter.sorting_direction == 0)">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="(filter.sort == 0) && (filter.sorting_direction == 1)">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="(filter.sort != 0)"></mat-icon>
      <span>Name</span>
    </button>
    <button mat-menu-item (click)="toggleSort(1)" *ngIf="filter.isAvailable(1)">
      <mat-icon *ngIf="(filter.sort == 1) && (filter.sorting_direction == 0)">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="(filter.sort == 1) && (filter.sorting_direction == 1)">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="(filter.sort != 1)"></mat-icon>
      <span>Publish date</span>
    </button>
    <button mat-menu-item (click)="toggleSort(2)" *ngIf="filter.isAvailable(2)">
      <mat-icon *ngIf="(filter.sort == 2) && (filter.sorting_direction == 0)">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="(filter.sort == 2) && (filter.sorting_direction == 1)">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="(filter.sort != 2)"></mat-icon>
      <span>Author</span>
    </button>
  </mat-menu>
</div>
