@import "../../shared/styles";
@import "../../shared/layout";

:host {
  display: flex;
  flex: 100%;
  align-items: center;
  div.container {
    display: flex;
    flex: 100%;
    align-items: center;
  }

  .mat-icon-button {
    margin: 0 6px;
    height: 40px;
    min-width: 0;
    line-height: 24px;
    padding: 8px;
    width: 40px;
    border-radius: 50%;
  }

  ::ng-deep label { // deprecated ? moved to style
    top: 1.7em;
  }

  ::ng-deep .mat-input-element { // deprecated ? moved to style
    caret-color: currentColor;
  }

  @media screen and (max-width: $layout-breakpoint-md) {
    .mat-form-field {
      width: $layout-breakpoint-md/8;
      font-size: $display-2-font-size-base/4;
    }
  }

  .flags button {
    margin: 0;
  }

}

