@if (series) {
  <div class="rl-titlerow">
    <div>
      <h1>{{ 'route.series' | translate }}</h1>
      <div class="subtitle">{{ subtitle }}</div>
    </div>
  </div>

  <div class="series-sections">
    @for (serie of series; track serie; let i = $index) {
      <my-calibre-server-series-card [series]="serie" [index]="i"></my-calibre-server-series-card>
    }
  </div>

  @if (series.length === MAX_SERIES) {
    <div class="max-reached">
      <span>{{ 'label.limited' | translate:param }}</span>
    </div>
  }
}
@if (!series) {
  <mat-spinner></mat-spinner>
}
