<div class="mat-content" flex="100" layout-align="center center" layout="row">
  <mat-card flex="60">
    <form role="form" (submit)="connect($event, username.value, password.value)">
      <mat-card-content>
        <mat-input-container>
          <input MatInput placeholder="Username"  required                 #username>
        </mat-input-container>
        <mat-input-container>
          <input MatInput placeholder="Password"  required type="password" #password>
        </mat-input-container>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit">Add/connect a local account</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
