<div class="mat-content" fxFlex="100" fxLayoutAlign="center center" fxLayout="row">
  <mat-card fxFlex="60">
    <form role="form" (submit)="connect($event, username.value, password.value)">
      <mat-card-content>
        <mat-input-container>
          <input matInput placeholder="{{'label.username' | translate}}"  required                 #username>
        </mat-input-container>
        <mat-input-container>
          <input matInput placeholder="{{'label.password' | translate}}"  required type="password" #password>
        </mat-input-container>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit">Add/connect a local account</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
