mat-card.kindle-card {
  box-shadow: none;
  padding: 0;
}
h4 {
  margin-bottom: 5px;
}
.mat-radio-button {
  margin-top: 1em;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 2em;
}

mat-form-field {
  width: 99%;
}

.message {
  font-size: 0.8em;
  opacity: 0.8;
  padding-top: 1em;
}

mat-card-actions {
  margin-bottom: 0;
}
