mat-card.kindle-card {
  box-shadow: none;
  padding: 16px;

  mat-card-title {
    font-size: 1.5em;
    font-weight: 500;
  }
}
h4 {
  margin-bottom: 5px;
  margin-top: 0;
}
.mat-mdc-radio-button {
  margin-top: 1em;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 2em;
}

mat-form-field {
  width: 99%;
}

.message {
  font-size: 0.8em;
  opacity: 0.8;
  padding-top: 1em;
}

mat-card-actions {
  margin-top: 16px;
  button {
    margin-right: 16px;
  }
}
